body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #212121;
}
/* Header Classes */
.header-logo {
  text-decoration: none;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header-nav {
}
.header-list {
}
.header-item {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  list-style-type: none;
}
.header-contacts {
}
.header-link {
  text-decoration: none;
  color: #212121;
}
.header-link:hover,
.header-link:focus {
  color: #2196f3;
}
.header-mail {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.02em;
  list-style-type: none;
}
.header-mail-link {
  text-decoration: none;
  color: #757575;
}
.header-phone {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.02em;
  list-style-type: none;
}
.header-phone-link {
  text-decoration: none;
  color: #757575;
}
.header-mail-link:hover,
.header-mail-link:focus,
.header-phone-link:hover,
.header-phone-link:focus {
  color: #2196f3;
}
.header-logo-help {
  color: #000000;
}
/* Index Main Classes */
.hero {
  background-color: #2f303a;
}
.main-subject {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 116%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffff;
}
.order-btn {
  border: 0;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  background: #2196f3;
  border-radius: 4px;
  cursor: pointer;
}
.order-btn:hover,
.order-btn:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.order-btn-text {
  width: 136px;
  height: 30px;
  left: 732px;
  top: 440px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.06em;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}
.soft-section {
}
.soft-list {
}
.soft-item {
  list-style-type: none;
}
.soft-head {
  width: 270px;
  height: 16px;
  left: 515px;
  top: 774px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.soft-text {
  font-style: normal;
  font-size: 14px;
  line-height: 146%;
  letter-spacing: 0.03em;
  color: #757575;
  width: 270px;
  height: 75px;
  left: 515px;
  top: 800px;
}
.occupation {
}
.occupation-head {
  width: 376px;
  height: 42px;
  left: 612px;
  top: 969px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
}
.occupation-list {
}
.occupation-item {
  list-style-type: none;
}
.team-section {
}
.team-head {
  width: 264px;
  height: 42px;
  left: 668px;
  top: 1543px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
}
.team-list {
}
.team-item {
  list-style-type: none;
}
.team-name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #212121;
}
.team-work {
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  color: #757575;
}
/* Portfolio Main Classes */
.portfolio-nav {
}
.portfolio-nav-list {
}
.portfolio-nav-item {
  list-style-type: none;
  line-height: 139%;
}
.portfolio-nav-btn {
  border: 0;
  background: #f5f4fa;
  cursor: pointer;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
}
.portfolio-nav-btn:hover {
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.projects-list {
}
.projects-item {
  list-style-type: none;
}
.projects-name {
  width: 322px;
  height: 36px;
  left: 239px;
  top: 576px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 171%;
  color: #212121;
}
.projects-discrip {
  width: 322px;
  height: 30px;
  left: 239px;
  top: 616px;
  font-style: normal;
  font-size: 16px;
  line-height: 160%;
  color: #757575;
}
/* Footer Classes */
.footer {
  background-color: #2f303a;
}
.footer-logo {
  width: 145px;
  height: 31px;
  left: 215px;
  top: 2157px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
  color: #2196f3;
  text-decoration: none;
}
.footer-adr {
}
.footer-list {
}
.footer-item {
  list-style-type: none;
}
.map-link {
  width: 231px;
  height: 21px;
  left: 215px;
  top: 2208px;
  font-style: normal;
  font-size: 14px;
  line-height: 146%;
  color: #ffffff;
  text-decoration: none;
}
.map-link:hover,
.map-link:focus {
  color: #2196f3;
}
.footer-mail {
  text-decoration: none;
  width: 231px;
  height: 21px;
  left: 215px;
  top: 2238px;
  font-style: normal;
  font-size: 14px;
  line-height: 146%;
  color: rgba(255, 255, 255, 0.6);
}
.footer-mail:hover,
.footer-mail:focus {
  color: #2196f3;
}
.footer-phone {
  text-decoration: none;
  width: 231px;
  height: 21px;
  left: 215px;
  top: 2238px;
  font-style: normal;
  font-size: 14px;
  line-height: 146%;
  color: rgba(255, 255, 255, 0.6);
}
.footer-phone:hover,
.footer-phone:focus {
  color: #2196f3;
}
.footer-logo-help {
  width: 145px;
  height: 31px;
  left: 215px;
  top: 2157px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 146%;
  color: #ffffff;
  text-decoration: none;
}
